
@if (Session["LogedUserFullname"] != null)
{
    <text>
        Welcome @Session["LogedUserFullname"].ToString()
    </text>

}


@model DoctorAppointment.user_Info


@using (Html.BeginForm("CreateUser", "Home", FormMethod.Post))
{

    //this  is for create form tag
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)

<table>
    <tr>
        @Html.HiddenFor(a => a.user_Id, new { id = "hdnId" })
        <td>Select Role :</td>
        <td>
            @Html.DropDownListFor(a => a.role_Id, new SelectList(Model.CreateRole, "Value", "Text"), "-- Select Role--",
    htmlAttributes: new { required = true, @class = "form-control", id = "role_Id", @onchange = "getRole(this)" })
        </td>
        <td>@Html.ValidationMessageFor(a => a.role_Id)</td>
    </tr>

    <tr>
        <td>First Name :</td>
        <td>@Html.TextBoxFor(a => a.first_Name, new { autocomplete = "off" })</td>
        <td>@Html.ValidationMessageFor(a => a.first_Name)</td>
    </tr>
    <tr>
        <td>Last Name :</td>
        <td>@Html.TextBoxFor(a => a.last_Name, new { autocomplete = "off" })</td>
        <td>@Html.ValidationMessageFor(a => a.last_Name)</td>
    </tr>
    <tr>
        <td>Email Address :</td>
        <td>@Html.TextBoxFor(a => a.email_Address, new { autocomplete = "off" })</td>
        <td>@Html.ValidationMessageFor(a => a.email_Address)</td>
        <td>
            <input type="button" value="Validate Email" id="btnEmailValidate" onclick="javascript: ValidateEmailId();" />
        </td>
        <td>
            <div id="divEmail" style="font-weight:bold;"></div>
        </td>
    </tr>
    <tr>
        <td>Mobile Number :</td>
        <td>@Html.TextBoxFor(a => a.mobile_Number, new { autocomplete = "off" })</td>
        <td>@Html.ValidationMessageFor(a => a.mobile_Number)</td>
        <td>
            <input type="button" value="Validate Mobile Number" id="btnMblValidate" onclick="javascript: ValidateMobile();" />
        </td>
        <td>
            <div id="divMobile" style="font-weight:bold;"></div>
        </td>
    </tr>
    <tr>
        <td>Date Of Birth :</td>
        <td>

            @Html.TextBoxFor(a => a.dob, new { @class = "getdate", autocomplete = "off", required = true })
        <td>@Html.ValidationMessageFor(a => a.dob)</td>
    </tr>

    <tr class="doctor">
        <td>
            Doctor In-Time :
        </td>
        <td>
            @Html.TextBoxFor(m => m.doctorDetail.startTime, new { @class = "getdatetime", required = true, autocomplete = "off" })
        </td>
        <td> @Html.ValidationMessageFor(m => m.doctorDetail.startTime, "")</td>
    </tr>
    <tr class="doctor">
        <td>
            Doctor Out-Time
        </td>
        <td>  @Html.TextBoxFor(m => m.doctorDetail.endTime, new { @class = "getdatetime", required = true, autocomplete = "off" })</td>
        <td> @Html.ValidationMessageFor(m => m.doctorDetail.endTime, "")</td>
    </tr>

    <tr>
        <td></td>
        <td>
            <input type="submit" value="Create User" />
        </td>
        <td></td>
    </tr>
</table>

    <div>
        @Html.ActionLink("Back To Login", "UserLogin")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<link rel="stylesheet" href="//code.jquery.com//ui//1.11.2//themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com//ui//1.11.2//jquery-ui.js"></script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    function ValidateEmailId() {
        $("#divEmail").show();
        var email = $("#getEmailAddress").val();
        if (email == "") {
            $("#divEmail").html("Please enter Email Address.");
        }
        else {
            $("#btnEmailValidate").val("Please wait....");
            $.ajax({
                method: "POST",
                url: "/Home/ValidateEmailId/",
                data: { emailId: email }
            })
                .done(function (msg) {
                    if (msg == 1) {
                        $("#divEmail").html("Error : Duplicate Email Id Found.");
                    } else {
                        $("#divEmail").html("No Duplicate Email Id Found.");
                    }
                    $("#btnEmailValidate").val("Validate");
                });
        }
    }

    function ValidateMobile() {
        var mobile = $("#getMobileNumber").val();
        if (mobile == "") {
            $("#divMobile").html("Please enter Mobile Number.");
        }
        else {
            $("#btnMblValidate").val("Please wait....");
            $.ajax({
                method: "POST",
                url: "/Home/ValidateMobileNumber/",
                data: { mobileNumber: mobile }
            })
                .done(function (msg) {
                    if (msg == 1) {
                        $("#divMobile").html("Error : Duplicate Mobile Number Found.");
                    } else {
                        $("#divMobile").html("No Duplicate  Mobile Number Found.");
                    }
                    $("#btnMblValidate").val("Validate");
                });
        }
    }
</script>

<script>
    $(function () {
        $(".getdate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            yearRange: '1950:+0',
            maxDate: '+0'
        });

        $(".getdatetime").datetimepicker({
            dateFormat: 'dd-mm-yy',
            timeFormat: 'HH:mm',
            maxDate: '+0',
            minDate: '-0',
            minTime: '-0'
        });
    });
</script>
<script>
    function getRole(ele) {
        if ($(ele).find(":selected").text() == "Doctor") {
            $(".doctor").show();
        }
        else {
            $(".doctor").hide();
        }
    }
</script>


