

@model  List<DoctorAppointment.doctorDetail>



<h3>CreateAppointment</h3>
@using (Html.BeginForm("CreateAppointment", "Home", FormMethod.Post))
{
    //this  is for create form tag
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }
    <table border="1" id="createApp">

        <tr><td>Doctor Name</td><td>Available Slots</td><td>Appointment</td></tr>
        @foreach (doctorDetail item in Model)

        {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor_Name)
        </td>
        <td>
            @Html.DropDownList("Time", new SelectList(item.Interval, "Value", "Text"), "-- Select Time Slot --",
    new { required = true, @class = "form-control", @id = "ddlTimeSlot" })
        </td>
        <td>
            <input type="button" value="Book Appointment" name="btnAppointment" onclick="bookAppointment(this)"
                   data-value="@item.doctor_Id" data-id="@item.doctor_Id" />
        </td>
    </tr>
        }

    </table>
    
    <div>
        @Html.ActionLink("Back To Login", "UserLogin")
    </div>

}
<script type="text/javascript">
    function bookAppointment(element) {
        var doctorId = $(element).attr('data-id');
        var appointmentTime = $(element).closest("tr").find('select :selected').text();
        if (appointmentTime != "-- Select Time Slot --") {
            $.ajax({
                url: "/Home/CreateAppointment/",
                dataType: "json",
                cache: false,
                type: 'Post',
                data: { doctorId: doctorId, appointmentTime: appointmentTime },
                success: function (data) {
                    if (data == "Success") {
                        alert('Appointment fixed. Please wait for the confirmation');
                    }
                    else { alert('Already you have an appointment.'); }
                    window.location.href = "/Home/UserLogin";
                }
            });
        }

    }
</script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}