

@model List<DoctorAppointment.appointmentInfo>

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)


<h3>Show Appointments</h3>


@if (Model == null || Model.Count == 0)
{
    <h3>No Appointments to show</h3>
    @Html.ActionLink("Back To Login", "UserLogin")
}
else
{
    <table border="1">
        <tr><td>Patient Name</td><td>Appointment Time</td><td>Status</td></tr>
        @foreach (appointmentInfo item in Model)

        {
            if (item.appointment_Status == Convert.ToBoolean(0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.patient_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.appointment_Time)

                    </td>
                    <td>
                        <input type="submit" value="Confirm" id="Confirm" onclick="updateStatus(this)"
                               data-value="@item.patient_Id" data-id="@item.patient_Id" />
                        <input type="submit" value="Reject" id="Reject" onclick="updateStatus(this)"
                               data-value="@item.patient_Id" data-id="@item.patient_Id" />
                    </td>

                </tr>
            }
        }

    </table>

    <div>
        @Html.ActionLink("Back To Login", "UserLogin")
    </div>
}

<script type="text/javascript">
    function updateStatus(elem) {
        var patientId = $(elem).attr('data-id');
        $.ajax({
            url: "/Home/ShowAppointment/",
            dataType: "json",
            cache: false,
            type: 'Post',
            data: { patientId: patientId, status: elem.id },
            success: function (data) {
                location.reload();
            }

        });
    }

</script>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
